# Ignore node_modules in all subdirectories
**/node_modules/

# Ignore build folders
**/dist/

# Ignore .env files in frontend and backend
frontend/.env
backend/.env

# Optional: ignore all env variants
frontend/.env*
backend/.env*